.add-show {
    background-color: white;
    div.wrapper {
        mat-form-field {
            width: 100%;
            ::ng-deep div.mat-mdc-form-field-flex {
                padding-left: 24px;
                padding-right: 10px;
                padding-bottom: 12px;
            }
            ::ng-deep div.mdc-line-ripple {
                display: none;
            }
            ::ng-deep input:focus {
                caret-color: lightgrey;
            }
        }
    }
    ::ng-deep mat-expansion-panel {
        box-shadow: unset;
        border-top: 1px solid lightgrey;
    }
}