<div>
    <form [formGroup]="form">
        <h3 mat-dialog-title>Start a download</h3>
        <mat-dialog-content>
            <mat-form-field color="accent" style="width:100%">
                <input formControlName="url" autocomplete="off" matInput name="fileUrlInput" placeholder="URL" required>
                <mat-hint class="success" *ngIf="form.get('url').status === 'VALID'" align="start">URL validated !</mat-hint>
                <mat-hint *ngIf="form.get('url').status === 'PENDING'" align="start">Validating URL...</mat-hint>
                <mat-error *ngIf="form.get('url').hasError('notSupported')">{{form.get('url').getError('notSupported').message}}</mat-error>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
            <button color="accent" [disabled]="!form.valid" (click)="onOk()" mat-button mat-dialog-close><strong>OK</strong></button>
        </mat-dialog-actions>
    </form>
</div>