<div class="login-page-component">

  <div class="wrapper" [ngSwitch]="loginState" fxFlexFill fxLayout="column">

    <div *ngSwitchCase="'AwaitingGoogleAuth'" fxLayout="column" fxLayoutAlign="center center">
      <img src='/assets/netpips_icon_128.png' alt='image' style="padding-bottom: 10px">
      <google-signin width='240' height='50' [clientId]="clientId" theme="light" longTitle="true" (googleSignInSuccess)="onGoogleSignInSuccess($event)"></google-signin>
    </div>

    <div *ngSwitchCase="'AwaitingBackendAuth'" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngSwitchCase="'Authenticated'">
      Authenticated
    </div>

    <div *ngSwitchCase="'AuthenticationError'" fxLayout="column" fxLayoutAlign="center center">
      <span>
        {{errMsg}}
      </span>
    </div>

  </div>
</div>